<% include partials/_header %>

    <main>
        <div class="jumbotron" style="background-color:green;">
            <h1 style="color:white;">Your short URL: <%= shortURL %></h1>
                <h2 style="color:white;">is linked to URL: <a style="color:white;" href="<%= longURL %>"><%= longURL %> </a></h2>
                <h3 style="color:white;">If you would like to change the URL attached, enter a new URL and press Update</h3>
                <form action="/urls/<%= shortURL %>/update" method="POST">
                    <label for="newURL"></label>
                    <input id="newURL" type="text" name="newURL" placeholder="enter a new URL to update" style="width: 500px"></input>
                    <input type="submit" value="Update"></input>
                </form>

        </div>
    </main>

<% include partials/_footer %>
