<!DOCTYPE html>
<html lang="en">

    <% include partials/_head %>

    <main>
        <div class="jumbotron" style="background-color:green;">
            <h1 style="color:white;">Oops! That email already exists.</h1>
            <h3><a style="color:white;" href="/register"> Try another email!</a></h3>
        </div>
    </main>

<% include partials/_footer %>