<html lang="en">
<header>
<% include ./partials/_header.ejs %>
</header>
<head>
  <title>TinyApp</title>
</head>
<body>
        <li>Original URL: <%= longURL %></li>
        <li>Short form URL: <%= shortURL %></li>
</body>
</html>