<!-- views/urls_new.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/_head %>
</head>
<body class="container">

    <header>
        <% include partials/_header %>
    </header>

    <main>

        <div class="jumbotron" style="background-color:green;">
        <h1 style="color:white;">Enter a new URL below</h1>
        <p style="color:white;">We will generate a new key for you</p>
        <form action="/urls" method="POST" style="margin:35px;">
      <label for="longURL"></label>
      <input id="longURL" type="text" name="longURL" placeholder="e.g. http://wwww.netflix.com" style="width: 500px">
      <input type="submit" value="Submit">
    </form>


        </div>
    </main>

    <footer>
        <% include partials/_footer %>
    </footer>

</body>
</html>